@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --bg-color: aliceblue;

    --scrollbar-thumb: #b3b9bf;
    --scrollbar-bg: #c0c6cc;
  }

  body {
    background-image: url("XP Surface Day.png");
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --bg-color: #151B24;

    --scrollbar-thumb: #b3b9bf;
    --scrollbar-bg: #83878c;
  }

  body {
    background-image: url("XP Surface Night.png");
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
}

::-webkit-scrollbar-track {
  //background-color: transparent;
  background-color: var(--bg-color);
  border-radius: 10px;
}

* {
  margin: 0;
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  main {
    position: relative;

    #first__section, #second__section {
      content: '';
      min-height: 100vh;
    }

    #first__section {
      position: fixed;
      z-index: 1;
      top: 0;
      width: 100%;
      padding-top: 50px;
    }

    #second__section {
      position: relative;
      z-index: 2;
      margin-top: calc(100vh + 170px);
      //margin-top: 170px;
      box-shadow: 0px -70px 45px 100px var(--bg-color);
      background: var(--bg-color);
    }
  }
}