@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --bg-color: aliceblue;
    --font-color: black;

    --scrollbar-thumb: #909499;
    --scrollbar-bg: #d0dbe1;
  }

  body {
    background-image: url("../images/XP_Surface_Day.png");
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --bg-color: #151B24;
    --font-color: white;

    --scrollbar-thumb: #415370;
    --scrollbar-bg: #2b374a;
  }

  body {
    background-image: url("../images/XP_Surface_Night.png");
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 10px 0 0 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg);
}

* {
  margin: 0;
  color: var(--font-color);
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  main {
    position: relative;

    #first__section, #second__section {
      content: '';
      min-height: 100vh;
    }

    #first__section {
      position: fixed;
      z-index: 1;
      top: 0;
      width: 100%;
      padding-top: 50px;

      .weather__city {
        font-size: 64px;
        font-weight: bolder;
      }

      .weather__crd {
        text-transform: uppercase;
        font-weight: normal;
      }

      .weather__temp {
        font-size: 6rem;
        font-weight: bolder;
      }

      .weather__feels__like {
        font-weight: normal;
      }

      .weather__icon {
        img {
          width: 200px;
        }
      }

      .weather__desc {
        font-size: 2em;
        font-weight: lighter;
        text-transform: capitalize;
      }
    }

    #second__section {
      position: relative;
      z-index: 2;
      margin-top: calc(100vh + 170px);
      height: 100vh;
      box-shadow: 0px -70px 45px 100px var(--bg-color);
      background: var(--bg-color);
    }
  }
}