@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@700&family=Roboto&display=swap');

//font-family: 'Inter', sans-serif;
//font-family: 'Open Sans', sans-serif;
//font-family: 'Roboto', sans-serif;

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --bg-color: aliceblue;
    --font-color: black;

    --scrollbar-thumb: #88b61d;
    --scrollbar-bg: #d0dbe1;

    --weather__city: #7AC7E1;
    --weather__temp: #94D42F;
    --weather__desc: #CBE0AE;
  }

  body {
    background-image: url("../images/XP_Surface_Day.png");
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --bg-color: #151B24;
    --font-color: white;

    --scrollbar-thumb: #415370;
    --scrollbar-bg: #2b374a;

    --weather__city: #FFFFFF;
    --weather__temp: #FFFFFF;
    --weather__desc: #FFFFFF;
  }

  body {
    background-image: url("../images/XP_Surface_Night.png");
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg);
}

* {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;

  margin: 0;
  color: var(--font-color);
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  main {
    position: relative;

    #first__section, #second__section {
      content: '';
      min-height: 100vh;
    }

    #first__section {
      position: fixed;
      z-index: 1;
      top: 0;
      width: 100%;
      padding-top: 50px;

      .weather__city {
        color: var(--weather__city);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 96px;
        letter-spacing: 0.12em;
        -webkit-text-stroke: var(--font-color);
        -webkit-text-stroke-width: 3px;
      }

      .weather__crd {
        text-transform: uppercase;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        color: var(--font-color);
      }

      .weather__temp {
        color: var(--weather__temp);
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 128px;
        line-height: 144px;
        -webkit-text-stroke: var(--font-color);
        -webkit-text-stroke-width: 3px;
      }

      .weather__feels__like {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
      }

      .weather__icon {
        img {
          width: 65%;
        }
      }

      .weather__desc {
        color: var(--weather__desc);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        text-transform: capitalize;
        margin-top: 50px;
        -webkit-text-stroke: var(--font-color);
        -webkit-text-stroke-width: 1px;
      }
    }

    #second__section {
      position: relative;
      z-index: 2;
      margin-top: calc(100vh + 170px);
      height: 100vh;
      box-shadow: 0px -70px 45px 100px var(--bg-color);
      background: var(--bg-color);
    }
  }
}